<h1>Chat widget</h1>

<div *ngIf="!startChat">
    <!--Reactive forms-->
    <form [formGroup]="customerDataForm" (ngSubmit)="onSubmit()">
        <table aria-colspan="2">
            <tr>
                <td>
                    <label for="name">Name:</label>
                </td>
                <td>
                    <input type="text" name="name" id="name" formControlName="name"> <br />
                </td>
                <td
                    *ngIf="customerDataForm.get('name').hasError('required') || customerDataForm.get('name').invalid || customerDataForm.get('name').hasError('pattern')">
                    {{firstNameNotValidMessage}}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastName">Last Name:</label>
                </td>
                <td>
                    <input type="text" name="lastName" id="lastName" formControlName="lastName"> <br />
                </td>
                <td 
                    *ngIf="customerDataForm.get('lastName').hasError('required') || customerDataForm.get('lastName').invalid || customerDataForm.get('lastName').hasError('pattern')">
                    {{lastNameNotValidMessage}}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email:</label>
                </td>
                <td>
                    <input type="email" name="email" id="email" formControlName="email"> <br />
                </td>
                <td
                    *ngIf="customerDataForm.get('email').hasError('required') || customerDataForm.get('email').hasError('email')">
                    {{emailNotValidMessage}}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="telephone">Telephone:</label>
                </td>
                <td>
                    <input type="tel" name="telephone" id="telephone" formControlName="telephone"> <br />
                </td>
                <td
                    *ngIf="customerDataForm.get('telephone').hasError('required') || customerDataForm.get('telephone').hasError('pattern')">
                    {{phoneNumberNotValidMessage}}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Start Chat">
                </td>
                <td></td>
            </tr>
        </table>
    </form>

    <!--Directive {{}}
<p>{{name}}</p>
<p>{{lastName}}</p>
<p>{{email}}</p>
<p>{{telephone}}</p>-->

    <!--Directives NgIf and NgFor-->
    <div *ngIf="telephones.length >= 1">
        <div *ngFor="let telephoneI of telephones; index as t">
            <p>Telephone {{t+1}} - {{telephoneI}}</p>
        </div>
    </div>

    <hr>

    <!--Directive NgModel-->
    <h4>Terms and conditions</h4>
    <input type="radio" name="terms" [(ngModel)]="termsAndConditions" [value]=true> Yes
    <input type="radio" name="terms" [(ngModel)]="termsAndConditions" [value]=false> No

    <p *ngIf="termsAndConditions">
        Accepted
    </p>
    <p *ngIf="!termsAndConditions">
        Did not accepted
    </p>

    <hr>
    <hr>
</div>

<div>
    <app-embedded-interaction-frame *ngIf="startChat" [customerData]="getCustomerData()" (interactionWasFinished)="finishChat($event)"> 
    </app-embedded-interaction-frame>
</div>