<div>
    <div>
        <form [formGroup]="loginFormData">
            <table>
                <tr>
                    <td>
                        <label for="username">Username: </label>
                    </td>
                    <td>
                        <input type="text" name="username" id="username" formControlName="username">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email: </label>
                    </td>
                    <td>
                        <input type="text" name="email" id="email" formControlName="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="emailProvider">Select Email Provider: </label>
                    </td>
                    <td>
                        <select name="emailProvider" id="emailProvider" formControlName="emailProvider">
                            <option value="gmail">Gmail</option>
                            <option value="office365">Office 365</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <button type="submit" (click)="login($event)">Login</button>
                </tr>
            </table>
        </form>
    </div>
</div>
